apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: test-deploy
  name: user-deployment
spec:
  selector:
    matchLabels:
       app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
      - name: user
        image: eoludotun/userservice:00
        ports:
          - containerPort: 8050
        env:
          - name: SPRING_PROFILES_ACTIVE
            value: "dev"
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: postgres-credentials
                key: POSTGRES_USER
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-credentials
                key: POSTGRES_PASSWORD
          - name: POSTGRES_DB
            valueFrom:
              secretKeyRef:
                name: postgres-credentials
                key: POSTGRES_DB
          - name: POSTGRES_HOST
            value: postgres-service

---
apiVersion: v1
kind: Service
metadata:
    namespace: test-deploy
    name: user-service
spec:
    type: LoadBalancer
    selector:
        app: user
    ports:
    - port: 8050
      targetPort: 8050
      
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: application-auto-scaling
  namespace: user-service
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: user-deployment
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 50
      
        
